  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/OpenSans-Bold.ttf);
  }
  :root {
    font-family: 'OpenSans';
  }
  
 